[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
*{
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
p{
  margin: 0 !important;
}
li div{
  position: absolute;
}
li{
  position: relative;
}
li button{
  position: absolute;
  top: 50%;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 40px;
  color: grey;
  font-size: 2em;
}
.fav li button{
  color: #ff6961;
  font-size: 2em;
}
.divTopLeft{
  padding: 20px;
}
.divTopRight{
  padding: 20px;
  right: 0;
}
.inFav button{
  pointer-events: none;
  font-size: 2em;
  color: #ff6961;
}

.jobTitle{
  max-width: 60%;
  font-weight: normal;
  text-decoration: underline;
  padding-bottom: 5px;
}

.App{
  padding-top: 1px;
  height: 100%;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.results{
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0 2.5%;
}

.title{
  text-align: left;
  font-weight: lighter;
}
.results-wrapper{
  width: 100%;
  height: 470px;
  background-color: #FFFF;
  border: 5px;
  padding: 20px;
  -webkit-box-shadow: 1px 3px 10px rgba(0,0,0,.15);
  box-shadow: 1px 3px 10px rgba(0,0,0,.15);
  overflow-y: scroll;
}

.header{
  padding-top: 5px;
  height: 60px;
  padding-bottom: 10px;
  background-color: #24292e;
  border-bottom: 2px solid #D7D5D4;
  text-align: left;
}

.header h1{
  padding-left: 20px;
  font-size: 1.5em;
  color: white;
  font-family:sans-serif;
  font-weight: lighter;
}

.item-Wrapper{
  border-bottom: 1px solid #ddd;
  text-align: left;
  margin-bottom: 20px;
  height: 130px;

}

.jobList{
  width: 70%;
  margin:  auto;
  display: inline-block;
}

.jobCompany{
  color: #087E8B;
}

.form-Wrapper{
  width: 70%;
  margin: 0 auto;
  padding: 1.5% 2.5%;
}

.input{
  text-align: left;
}

.item{
  padding: 5px;
}
.inputStyle{
  height: 25px;
  padding: 5px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
.input h1{
  font-size: 2em;
  font-weight: lighter;
}

.button{
  line-height:2;
  margin-right: 10px;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.jobDetail{
  width: 72%;
  padding: 0 2.5%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 1.5%;
}
.jobDetail h1{
  margin:0;
  font-size: 2em;
  font-weight: lighter;
  padding-bottom: 1.5%;
  display: inline-block;
}


.details {
  width: 1012px;
  border: 1px solid;
  padding: 1.5%;
  overflow: auto;
  background-color: #FFFF;
  border: 5px;
  padding: 20px;
  box-shadow: 1px 3px 10px rgba(0,0,0,.15);
}

.leftColumn {
    width: 70%;
    float: left;
    padding-right: 2.5%;
}
.titles{
  font-weight: 700;
  padding: 1.5% .5%;
}
.rightColumn {
  float: left;
  width: 30%;
  padding-top: 5%;
}
.logoLink{
  padding: 2%;
  border: 1px solid #ddd;
  margin-bottom: 5%;
}
.logoLink img{
  width: 100%;
}
.apply{
  padding: 2%;
  border: 1px solid #ddd;
}


@media screen and (max-width: 600px)
{

  .button{
    margin: 10px;
  }
 .details{
    width: 100%;
 }
 .logoLink{
   display: none;
 }

 .apply{
   display: inline-block;

 }
  .jobList{
    display: block;
    float: none;
  }
  .results{
    display: block;
    width: 100%;
    float: none;
  }

  .divTopRight{
    display: none;
  }
}
